<% include partials/header %>
<div class="ui text container raised segment">
  <div class="meta">
    <span><%= blog.date.toDateString() %></span>
  </div>
  <h4 class="ui large horizontal divider header header-show"><%= blog.title %></h4>
  <img class="ui medium large centered image" src="<%= blog.imgURL %>" alt="">
  <div class="column">
    <div class="ui horizontal divider divider-show">
      <i class="book icon"></i>
    </div>
    <p><%= blog.body %></p>
    <a class="ui blue basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
    <form class="ui form post-delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
      <button class="ui red basic button" type="submit" name="button">Delete</button>
    </form>
  </div>
</div>
<% include partials/footer %>
